<h1>Listing providers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>City</th>
    <th>Category</th>
    <th>Supercategory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @providers.each do |provider| %>
  <tr>
    <td><%= provider.name %></td>
    <td><%= provider.description %></td>
    <td><%= provider.city %></td>
    <td><%= provider.category %></td>
    <td><%= provider.supercategory %></td>
    <td><%= link_to 'Show', provider %></td>
    <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
    <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider', new_provider_path %>
