<%= form_for @profile, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="control-group">
  <%= f.label :username %>
  <div class="controls">
    <%= f.text_field :username %>
  </div>
</div>
<div class="control-group">
    <%= f.label :first_name %>
    <div class="controls">
    <%= f.text_field :first_name %>
    </div>
  </div>
<div class="control-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
<div class="control-group">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
<div class="control-group">
    <%= f.label :about_me %><br />
    <%= f.text_area :about_me %>
  </div>
<div class="control-group">
    <%= f.label :i_like %><br />
    <%= f.text_area :i_like %>
  </div>
<div class="control-group">
    <%= f.label :i_dont_like %><br />
    <%= f.text_area :i_dont_like %>
  </div>
<div class="control-group">
    <%= f.label :is_married %><br />
    <%= f.check_box :is_married %>
  </div>
<div class="control-group">
    <%= f.label :has_sons %><br />
    <%= f.check_box :has_sons %>
  </div>
<div class="control-group">
    <%= f.label :restrictions %><br />
    <%= f.text_field :restrictions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
