<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @profile.user %>
</p>

<p>
  <b>Username:</b>
  <%= @profile.username %>
</p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>About me:</b>
  <%= @profile.about_me %>
</p>

<p>
  <b>I like:</b>
  <%= @profile.i_like %>
</p>

<p>
  <b>I dont like:</b>
  <%= @profile.i_dont_like %>
</p>

<p>
  <b>Married:</b>
  <%= @profile.is_married %>
</p>

<p>
  <b>Soons:</b>
  <%= @profile.has_sons %>
</p>

<p>
  <b>Restrictions:</b>
  <%= @profile.restrictions %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
