<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Picture:</b>
  <%= @event.picture %>
</p>

<p>
  <b>Url:</b>
  <%= @event.url %>
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Supercategory:</b>
  <%= @event.supercategory %>
</p>

<p>
  <b>References:</b>
  <%= @event.references %>
</p>

<p>
  <b>Poi:</b>
  <%= @event.poi %>
</p>

<p>
  <b>Starts at:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @event.ends_at %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>Price:</b>
  <%= @event.price %>
</p>

<p>
  <b>Provider:</b>
  <%= @event.provider %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
