<li class="grey-box">
	<div class="span3">
  <div class="poi-img">
    <%= image_tag poi.photos.first.image.url(:thumb_wide), class: 'event-preview' if poi.photos.count > 0 %>
  </div>
  </div>

  <div class="event-content">
    <h4><%= link_to poi.localized_name(session[:locale]), poi_url(poi) %></h4>
    <%= button_to "Añadir a To do List", poi_path(poi), class: "btn btn-info" %>
    <div class="poi-rating">
      <div class="starbar-static">
        <% rating = poi.ratings_count ? (poi.rating / poi.ratings_count) : 0 %>
        <% (0...5).each do |i| %>
          <div class="star <%= (rating - i) > 0.5 ? 'full' : 'half' if rating >= i %>"></div>
        <% end %>
      </div>
      <span><%= poi.ratings_count %></span>
    </div>
    <div class="poi-type-img">
      <%= image_tag poi.supercategory.icon.url(:small), class: 'poi-list-type' if poi.supercategory && poi.supercategory.icon %>
    </div>
    
    <br />
    <div class="event-desc">
      <% if !poi.description.blank? %>
      	<p><%= truncate poi.description, length: 220 %></p>
      <% elsif poi.comments.first %>
      	<p><%= truncate poi.comments.first.comment, length: 220 %></p>
      <% end %>
      <time><%= time_tag poi.created_at %></time>
    </div>

  </div>
</li>