<%= form_for(@poi) do |f| %>
  <% if @poi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi.errors.count, "error") %> prohibited this poi from being saved:</h2>

      <ul>
      <% @poi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :ratings_count %><br />
    <%= f.number_field :ratings_count %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :minube_url %><br />
    <%= f.text_field :minube_url %>
  </div>
  <div class="field">
    <%= f.label :minube_id %><br />
    <%= f.text_field :minube_id %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :supercategory %><br />
    <%= f.text_field :supercategory %>
  </div>
  <div class="field">
    <%= f.label :name_eu %><br />
    <%= f.text_field :name_eu %>
  </div>
  <div class="field">
    <%= f.label :description_eu %><br />
    <%= f.text_area :description_eu %>
  </div>
  <div class="field">
    <%= f.label :timetable %><br />
    <%= f.text_area :timetable %>
  </div>
  <div class="field">
    <%= f.label :picture_nomral %><br />
    <%= f.text_field :picture_nomral %>
  </div>
  <div class="field">
    <%= f.label :picture_thumbnail %><br />
    <%= f.text_field :picture_thumbnail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
