
<!--<%= javascript_include_tag 'slider' %>
<div id="last-photos-slider">
  <h3 id="last-photos"><%= t :last_photos %></h3>
  
  <div class="slider">
    <div id="gallery">
      <% @slider_photos.each do |photo| %>
        <%= image_tag photo.image.url(:gallery), 'data-url' => poi_url(photo.poi), 'data-name' => photo.poi.name, 'data-description' => truncate(photo.poi.description) %>
      <% end %>
    </div>
    <div id="thumbs">
      <% @slider_photos.each do |photo| %>
        <%= image_tag photo.image.url(:thumb) %>
      <% end %>  
    </div>
  </div>
</div> -->

<!-- Carousel 
    ==================================================  -->
    <div id="myCarousel" class="carousel slide">

      <div class="carousel-inner">
      		<% x = 0 %>
          <% @slider_photos.each do |photo| %>
          	<% if x == 0 %>
          	<div class="item active">
			        <%= image_tag photo.image.url(:gallery) %>    
			      </div>
			      <% else %>
			      	<div class="item">
			        	<%= image_tag photo.image.url(:gallery) %>
			      	</div>  	
			      <% end %>
			      <% x += 1 %>
			      
			    <% end %>
          
        </div>
         
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div> <!-- /.carousel -->
<script>
	$('.carousel').carousel({
		interval: 3000
	});
</script>
