<div id="all-pois-row" class="row">
  <div class="span8">
    <h3 id="all-pois"><%= t :all %></h3>
    <div class="events-list">
      <ul id="pois-list">
        <%= render collection: @pois, partial: "poi_retrieval", as: :poi %>
        <div id="infinite-scroll"></div>
      </ul>
      <script>
      /*
       *Endless scrolling
       */
      var page = 2, stopScrolling = false;
      var param_type = <%= params[:category] || 'null' %>;
      var param_order = <%= params[:order] || 'null' %>;
      var param_title = "<%= params[:name] || '' %>";
      var options = {
        fireOnce: true,
        fireDelay:400,
        bottomPixels: 300,
        ceaseFire: function() {
          return stopScrolling;
        },
        callback: function(){
          $.ajax({
            url: '/retrieval.js',
            data: { page: page, category: param_category, order: param_order, name: param_name },
            dataType: 'script'
          });
        }
      };
      $(function() {
        $(document).endlessScroll(options);
      });
      /*
       * Fixed menu
       */
      $(document).ready(function () {  
        var top = $('#search').offset().top - parseFloat($('#search').css('marginTop').replace(/auto/, 0));
        $(window).scroll(function (event) {
          // what the y position of the scroll is
          var y = $(this).scrollTop();
        
          // whether that's below the form
          if (y >= top) {
            $('#search').css('top', y-130);
          } else {
            $('#search').css('top', 0);
          }
        });
      });
      </script>
    </div>
  </div>
  <div class="span2" id="search-container">
    <div class="span2" id="search">
      <h3><%= t :search %></h3>
      <%= form_tag '/retrieval', method: 'get', class: 'form-stacked' do %>
        <div class="clearfix">
          <%= label_tag :name, t(:search) %>
          <div class="input">
            <%= text_field_tag :name %>
          </div>
        </div>
        <div class="clearfix">
          <%= label_tag :category, t(:category) %>
          <div class="input">
            <%= select_tag :category, option_groups_from_collection_for_select(Supercategory.order('name').all, :categories, :name, :id, :name) %>
          </div>
        </div>
        <div class="clearfix">
          <%= label_tag :order, t(:order) %>
          <div class="input">
            <%= select_tag :order, "<option value=0>#{t :creation_date}</option><option value=1>#{ t :top_rated}</option>".html_safe %>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag t(:filter), class: 'btn primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>