<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @poi.name %>
</p>

<p>
  <b>Description:</b>
  <%= @poi.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @poi.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @poi.longitude %>
</p>

<p>
  <b>User:</b>
  <%= @poi.user %>
</p>

<p>
  <b>Ratings count:</b>
  <%= @poi.ratings_count %>
</p>

<p>
  <b>Rating:</b>
  <%= @poi.rating %>
</p>

<p>
  <b>Slug:</b>
  <%= @poi.slug %>
</p>

<p>
  <b>Address:</b>
  <%= @poi.address %>
</p>

<p>
  <b>Telephone:</b>
  <%= @poi.telephone %>
</p>

<p>
  <b>Website:</b>
  <%= @poi.website %>
</p>

<p>
  <b>Minube url:</b>
  <%= @poi.minube_url %>
</p>

<p>
  <b>Minube:</b>
  <%= @poi.minube_id %>
</p>

<p>
  <b>City:</b>
  <%= @poi.city %>
</p>

<p>
  <b>Category:</b>
  <%= @poi.category %>
</p>

<p>
  <b>Supercategory:</b>
  <%= @poi.supercategory %>
</p>

<p>
  <b>Name eu:</b>
  <%= @poi.name_eu %>
</p>

<p>
  <b>Description eu:</b>
  <%= @poi.description_eu %>
</p>

<p>
  <b>Timetable:</b>
  <%= @poi.timetable %>
</p>

<p>
  <b>Picture nomral:</b>
  <%= @poi.picture_nomral %>
</p>

<p>
  <b>Picture thumbnail:</b>
  <%= @poi.picture_thumbnail %>
</p>


<%= link_to 'Edit', edit_poi_path(@poi) %> |
<%= link_to 'Back', pois_path %>
