
<%# Add metadata for google %>
<div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate" class="review-aggregate metadata">
   <span property="v:itemreviewed"><% @poi.name %></span>
   <% image_tag(@poi.photos.first.image.url(:icon), rel: 'v:photo') if @poi.photos.any? %>
   <span rel="v:rating">
      <span typeof="v:Rating">
         <span property="v:average"><% @poi.ratings_count ? (@poi.rating / @poi.ratings_count) : 0 %></span>
         <%#out of%> 
         <span property="v:best"></span>
      </span>
   </span>
  <%# based on >
   <span property="v:votes"><% @poi.ratings_count %></span>
</div>


<script>
  var poi = <%= @poi.to_json.html_safe %>;
  poi.route_points = <%= @poi.route_points.to_json.html_safe %>;
</script>

<div id="poi-detail" class="row">

<p id="notice"><%= notice %></p>

  <div class="span9">
    <h1><%= @poi.name %></h1>
    <hr class="close-divider" />
    <div class="poi-info">
      <div class="poi-user">
        <span>por <%= link_to @poi.user.name, user_url(@poi.user) if @poi.user %> </span>
      </div>
      <div class="poi-city">
        <span>en <%= link_to(@poi.city.name, city_url(@poi.city)) if @poi.city %></span>
      </div>
      <div class="poi-created-at">
        <%= time_tag @poi.created_at %>
      </div>
    </div>
  
    <%= simple_format @poi.description %>
    
    <% if @poi.timetable %>
      <div class="schedule">
        <h3 class="section-title">Horarios</h3>
        <%= simple_format @poi.timetable %>
      </div>
    <% end %>
    <% if (@poi.address && @poi.address.length > 0) || (@poi.telephone && @poi.telephone.length > 0) %>
      <div class="location">
        <h3 class="section-title">Dirección</h3>
        <hr class="close-divider" />
        <address>
          <span><%= @poi.address %></span>
          <% if @poi.telephone && @poi.telephone.length > 0 %>
            <span>Tel.: <%= @poi.telephone %></span>
          <% end %>
        </address>
      </div>
    <% end %>
    
    <h3 class="section-title">Fotos</h3>
    <hr class="close-divider" />
    <div id="poi-photos" class="poi-side-block">
      <% @poi.photos.each do |photo| %>
        <%= link_to photo.image.url(:full), class: "poi-photo-fancy", alt: @poi.name do %>
          <%= image_tag(photo.image.url(:icon)) %>
        <% end %>
      <% end %>
      <div>
        <form accept-charset="UTF-8" action="/photos" class="new_photo" enctype="multipart/form-data" id="upload-photo-form" method="post">
          <input id="photo_poi_id" name="photo[poi_id]" type="hidden" value="<%= @poi.id %>">

          <div class="btn file-uploader">
            <div class="uploader-content">Subir foto</div>
            <input id="photo_image" name="photo[image]" type="file">
          </div>
          <input name="commit" class="btn" type="submit" value="Enviar" style="display: none;">
        </form>
      </div>
    </div>
    <% if @poi.category && @poi.category.is_route %>
      <div id="download-route">
        <h3>Descarga la ruta</h3>
        <%= link_to "Ruta en 3D (Google Earth)", "/rutas/#{@poi.slug}.kml", class: 'download-route' %>
        <%= link_to "Ruta en GPX", "/rutas/#{@poi.slug}.gpx", class: 'download-route' %>
      </div>
    <% end %>
    
    <div id="poi-map-canvas" style="width: 700px; height: 300px; margin: 22px 0 30px -5px;"></div>
    <%= javascript_include_tag "pois-show" %>
    <div id="poi-comments" class="row">
      <div class="span8">
        <h3 id="last-comments"><%= t :comments %></h3>
        <div class="fb-comments" data-href="/places/<%= @poi.slug %>" data-num-posts="10" data-width="700"></div>
      </div>
    </div>
    <div id="poi-comments" class="span11">
<h3 id="last-comments"><%= t :comments %></h3>
    <script>
    function publishComment(){
      var comment = $("#comment-content").val();
      $.post('/comments.json',{
  				comment : {
  				  comment: comment,
  				  poi_id: <%= @poi.id %>
  				}
  			},
  			function(comment) {
  				if(!comment.error){
            // Add comment to comments list
            $('ul#comments-list').prepend(
            '<li><p>'+comment.comment+'</p><div class="comment-info"><p><span><%= current_user.name if current_user %></span></p><time>Ahora</time></div></li>').fadeIn();
            $("#comment-content").val('')
              .attr('rows',1);
            $('#publish').css('display', 'none');
  				}else{
  				}
  			},
  			'json'
  		);
    }
    jQuery(function($){
      $('#comment-content').focus(function(){
        $(this).attr('rows',5);
        $('#publish').css('display', 'inline-block');
      }).blur(function(){
        if ($(this).val() == '') {
          $(this).attr('rows',1);
          $('#publish').css('display', 'none');
        }
      });
    });
  </script>
  
  <div id="new-comment">
    <textarea id="comment-content" placeholder="<%= raw t(:add_your_comment) %>" class="span9" rows=1></textarea>
    <a id="publish" class="btn primary" style="display: none;" href="#poi-comments" onClick="publishComment()"><%= t :publish %></a>
  </div>
  <ul id="comments-list">
    <% if @poi.comments.count == 0 %>
      <li><%= t :no_comments %></li>
    <% else %>
      <% @poi.comments.order('created_at desc').each do |comment| %>
        <li id="comment-<%= comment.id %>">
          <%= simple_format comment.comment %>
          <div class="comment-info">
            <p class="comment-user"><%= comment.user ? simple_format(comment.user.name) : t(:unknown) %></p>
            <%= time_tag comment.created_at %>
          </div>
        </li>
      <% end %>  
    <% end %>  
  </ul>
  
</div>

    
  </div>
  
  <div class="span3">
    <div class="starbar column-section" data-poi-id="<%= @poi.id %>" data-poi-rating="<%= @poi.rating %>" data-poi-ratings-count="<%= @poi.ratings_count %>">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div id="loading" class="preloader"></div>
      <div class="starbar-rating"><%= pluralize @poi.ratings_count, 'Votación', 'Votaciones' %></div>
    </div>
    
    <% if @poi.minube_url && !@poi.minube_url.blank? %>
      <div>
        <%= link_to 'Ver en minube', @poi.minube_url, { class: 'show-in-minube', target: '_blank' } %>
      </div>
    <% end %>
    
 		<% if @poi.foursquare_url && !@poi.foursquare_url.blank? %>
      <div>
        <%= link_to 'Ver en minube', @poi.foursquare_url, { class: 'show-in-foursquare', target: '_blank' } %>
      </div>
    <% end %>
    
    <% if @poi.website && @poi.website.length > 0 %>
      <div class="poi-link">
        <%= link_to @poi.website, target: "blank", class: "label" do %>
          Visita su página web
          <i class="icon-share-alt icon-white"></i>
        <% end %>
      </div>
    <% end %>
    
    <div id="share-poi" class="column-section">
      <h4>Compartelo</h4>
      <div id="share-poi-facebook">
        <div class="fb-like" data-send="false" data-width="220" data-show-faces="true"></div>
      </div>
      <hr />
    </div>
    
    <% if @poi.route_infos.first %>
      <div class="column-section">
        <%= render @poi.route_info %>
      </div>
      <hr />
    <% end %>
    
    
    <% if @what_to_see && @what_to_see.any? %>
      <div id="to-see" class="poi-side-block see-also">
        <h4><%= "Más para ver en #{@poi.city.name if @poi.city}" %></h4>
        <ul class="places-list condensed reduced">
          <%= render @what_to_see %>
        </ul>
      </div>
      <hr />
    <% end %>
    
    <% if @what_to_do && @what_to_do.any? %>
      <div id="to-do" class="poi-side-block see-also">
        <h4><%= "Que más hacer en #{@poi.city.name if @poi.city}" %></h4>
        <ul class="places-list condensed reduced">
          <%= render @what_to_do %>
        </ul>
      </div>
      <hr />
    <% end %>
    
    <% if @where_to_sleep && @where_to_sleep.any? %>
      <div id="to-do" class="poi-side-block see-also">
        <h4><%= "Donde dormir en #{@poi.city.name if @poi.city}" %></h4>
        <ul class="places-list condensed reduced">
          <%= render @where_to_sleep %>
        </ul>
      </div>
      <hr />
    <% end %>
    
    <% if @where_to_eat && @where_to_eat.any? %>
      <div id="to-do" class="poi-side-block see-also">
        <h4><%= "Donde comer en #{@poi.city.name if @poi.city}" %></h4>
        <ul class="places-list condensed reduced">
          <%= render @where_to_eat %>
        </ul>
      </div>
    <% end %>
    
    <% if @poi.events.count > 0 || @poi.user == current_user %>
    <hr />
    <div id="poi-events" class="poi-side-block">
      <h4 id="events"><%= t :events %></h4>
      <% if @poi.user && @poi.user == current_user %>
        
        <a href="#" id="create-event-button" class="btn" onClick="showEventForm()"><%= t :create_event %></a>
        <div id="new-event" style="display: none;">
          <h6>Crea un nuevo Evento</h6>
          <form accept-charset="UTF-8" action="/events" class="form-stacked" method="post">
            <div class="clearfix">
              <%= label_tag :description, t(:description) %>
              <input type="text" id="event_description" class="span4" />
            </div>
            <div class="clearfix">
              <%= label_tag :starts_at, t(:starts_at) %>
              <input type="text" id="starts_at_date" class="span2" name="event[starts_at][date]" value="<%= Time.now.strftime '%d/%m/%Y' %>" />
              <input type="text" id="starts_at_time" class="span2" name="event[starts_at][time]" value="<%= Time.now.strftime '%H:%M' %>" />
            </div>
            <div class="clearfix">
              <%= label_tag :ends_at, t(:ends_at) %>
              <input type="text" id="ends_at_date" class="span2" name="event[ends_at][date]" value="<%= Time.now.strftime '%d/%m/%Y' %>" />
              <input type="text" id="ends_at_time" class="span2" name="event[ends_at][time]" value="<%= Time.now.strftime '%H:%M' %>" />
            </div>
            <input id="event_poi_id" name="event[poi_id]" type="hidden" value="<%= @poi.id %>">
            <div class="clearfix">
              <input type="submit" class="btn" value="Enviar" />
            </div>
          </form>
        </div>
      <% end %>
      <ul>
        <% @poi.events.each do |event| %>
          <li>
            <%= time_tag event.starts_at %>
            <%= simple_format event.description %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

