<h1>Listing supercategories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Icon file name</th>
    <th>Icon content type</th>
    <th>Icon file size</th>
    <th>Icon update at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @supercategories.each do |supercategory| %>
  <tr>
    <td><%= supercategory.name %></td>
    <td><%= supercategory.slug %></td>
    <td><%= supercategory.icon_file_name %></td>
    <td><%= supercategory.icon_content_type %></td>
    <td><%= supercategory.icon_file_size %></td>
    <td><%= supercategory.icon_update_at %></td>
    <td><%= link_to 'Show', supercategory %></td>
    <td><%= link_to 'Edit', edit_supercategory_path(supercategory) %></td>
    <td><%= link_to 'Destroy', supercategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supercategory', new_supercategory_path %>
