<head>
    <title><%= title || t('title') %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%# render 'layouts/stylesheet' %>
  	<%= javascript_include_tag "application" %>
  	<!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  	<!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  	<%# javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyDpQyPKnWwpJLOZJCzZocuO9RoetHBk70Q&sensor=false" %>
  	<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  	<%# stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" %>
  	<%# javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"%>
    <%= csrf_meta_tags %>  
  </head>
  
  	<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=158273747603181";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


  	
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="navcontainer">       
          <div class="nav-collapse collapse">
            <ul class="nav">
							<li><% logo = image_tag("logo.png", :size => "100x200", class: "rounded-image") %>
		  				<%= link_to logo, root_path %></li>
              
              <li><a href="/explorer">Explorer</a></li>
              <li><a href="/packages">Packages</a></li>
              <li><a href="/recomendations">Recomendaciones</a></li>
              <li><a href="/retrieval">Retrieval</a></li>           
            </ul>
            
            <div class="navbar pull-right">
		          <%= link_to "eu", "?locale=eu", class: session[:locale] == 'eu' ? 'language-selected' : '' %>
		          | 
		          <%= link_to "es", "?locale=es", class: session[:locale] == 'es' ? 'language-selected' : '' %>
		        </div>
		        	
		        	<% if user_signed_in? %>
		        	<div class="pull-right">		        		
		          	Logged as <%= link_to "#{current_user.name}", current_user %>&nbsp; 
		          	<%= link_to "Sign Out", destroy_user_session_path %>&nbsp;&nbsp;		          	
		          </div>
		          <% else %>
		          
		          	<ul class="nav pull-right span2">              		
	              		<li class="dropdown">
	                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
	                	<ul class="dropdown-menu">
		                  <%= render 'users/sessions/login'%>
		                  <li class="divider"></li>
		                  <li class="nav-header"><Nav header><%= t('authentications')%></li>
		                  <li><a href="/auth/twitter" class="auth_provider">Twitter <%= image_tag "twitter_64.png", :size => "18x18", :alt => "Twitter" %></a></li>
											  											
											<li><a href="/auth/facebook" class="auth_provider">Facebook <%= image_tag "facebook_64.png", :size => "18x18", :alt => "Facebook" %></a></li>
											  
											<li><a href="/auth/google_oauth2" class="auth_provider">Google <%= image_tag "google_64.png", :size => "18x18", :alt => "Google" %> </a></li>
											
											<li><a href="/auth/foursquare" class="auth_provider"> Foursquare <%= image_tag "foursquare_64.png", :size => "18x18", :alt => "Forsquare" %></a></li>
                		</ul>
              			</li>
            			</ul>
            			
		          <% end %> 
        		
        		<form class="navbar-form form-search pull-right span3">
  							<input type="text" class="input-medium search-query">	
						</form>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
