<!DOCTYPE html>
<html>

  <%= render partial: 'layouts/header' %>
  
<div id="content">
    <div class="container rounded-corners" id="container">
    <div class="row">	
			<% logo2 = image_tag("logo.png", class: "logo span5") %>
			<%= link_to logo2, root_path %>
				<p class="lead span4"><%= t('subtitle')%></p>
        		<p class="span4"><%= t('subsubtitle')%></p>
    </div>
		<hr class="title-divider rounded-corners span11" />
      
								
				<%= yield %>

      <hr>
     </div> <!-- /container -->
</div>
      <footer id="footer">
        <%= render 'layouts/footer'%>
      </footer>


  </body>     
      
</html>