<!DOCTYPE html>
<html>
	<%= render partial: 'layouts/header' %>
	
<body>	
 	
  	<div id="content">
    <div class="container rounded-corners" id="container-retrieval">
    <div class="row">	
			<% logo2 = image_tag("logo.png", class: "logo span5") %>
			<%= link_to logo2, root_path %>
				<p class="lead span4"><%= t('subtitle')%></p>
        		<p class="span4"><%= t('subsubtitle')%></p>
    </div>
    <hr class="title-divider rounded-corners span11" />
    

		
    <div class="span3" id="search">
      <div class="well sidebar-nav-fixed" id="search-container">
    		
		      <h3><%= t :search %></h3>
		      <%= form_tag '/retrieval', method: 'get', class: 'form-stacked' do %>
		        <div class="clearfix">
		          <%= label_tag :name, t(:search) %>
		          <div class="input">
		            <%= text_field_tag :name %>
		          </div>
		        </div>
		        <div class="clearfix">
		          <%= label_tag :category, t(:category) %>
		          <div class="input">
		            <%= select_tag :category, option_groups_from_collection_for_select(Supercategory.order('name').all, :categories, :name, :id, :name),:include_blank => true, selected: params[:category] %>
		          </div>
		        </div>
		        <div class="clearfix">
		          <%= label_tag :order, t(:order) %>
		          <div class="input">
		            <%= select_tag :order, "<option value=0>#{t :creation_date}</option><option value=1>#{ t :top_rated}</option>".html_safe %>
		          </div>
		        </div>
		        <div class="actions">
		          <%= submit_tag t(:filter), class: 'btn primary' %>
		        </div>
		      <% end %>
		   

      </div><!--/.well -->
    </div>

    <div class="span10">
    	
    	<%= yield %>  
    	

		</div>
	</div>




<footer id="footer">
	<%= render 'layouts/footer'%>
</footer>


</body>     
      
</html>